build/
dist/
*.exe
*.zip
__pycache__/
*.pyc
venv/

build/
dist/
*.exe
*.zip
__pycache__/
*.pyc
venv/

# Lokale Daten
data/backup/*.db
session_data/*
logs/*
runtime/*
uploads/*

/data/app_settings.json
/data/manifest.db
/data/secrets/auth_config.json
/data/split_verify_temp.db
/noch_zu_loeschen/
